.btnw {
	background-color:rgb(31, 199, 45);
	color:white;
	border-radius: 5px;
	margin-top: 150px;
}

.done {
	background-color:rgb(74, 92, 248);
	color:white;
	border-radius: 15px;
}

.cancle {
	background-color:rgb(93, 109, 255);
	color:white;
	border-radius: 15px;
	margin-left: 200px;
}
